/* Solid Color */
body {
    background: purple;
	min-height: 0%;
	min-width: 0%;
}

/* Responsive Img Sizing */
img, embed, object, video {
  height: auto;
  max-width: 100%;
}
/* Header */
.header {
  position: relative;
}

/* Logo */
h2 {
  text-align: center;
  top: 10%;
  left: 25%;
  width: 40%;
  padding: 5%;
  margin-bottom: 2%;
}

/* Styling for Title */
h1 {
  text-align: center;
  left: 0%;
  font-size: 10vw;
  width: 100%
  margin-top: 0%;
  margin-bottom: 0%;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
/* Styling for Subtitle */
h3 {
  text-align: center;
  top: 6%;
  left: 0%;
  width: 100%;
  font-size: 5vw;
  margin-top: 0%;
  margin-bottom: 0%;
  color: black;
}
/* This is the top border. */
.default {
  text-align: center;
  left: 0%;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 0%;
  margin-top: 0%;
}
.article {
  padding: 0%;
  color: black;
}

/* Styling for Hero Image */
.hero-image {
  position: relative;
  margin-left: 0%;
  height: auto;
  width: 100%;
}
.hero-text {
  text-align: center;
  position: relative;
  margin-top: 5%;
  left: 0%;
  width: 100%;
  font-size: 5vw;
  margin-bottom: 0%;
  font-family: 'Josefin Sans', sans-serif;
}

/* Style for Section Class */
.section {
  position: relative;
  text-align: center;
}
/* Feature Work Title */
.push {
  left: 0%;
  margin-top: 7%;
  padding: 0%;
}
/* This is the bottom border. */
.pull {
  border-bottom: 2px solid black;
  width: 100%;
  left: 0%;
  margin-top: 0%;
  margin-bottom: 10%;
}
/* Featured Projects */
.features {
  margin-left: 0%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features > div {
  width: 80%;
  color: black;
  font-size: 5vw;
  font-family: 'Josefin Sans', sans-serif;
}
/* link color */
a {
  color: black;
}
.footer {
  text-align: center;
  position: relative;
  top: 99%;
  left: 0%;
  margin-top: 5%;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}