/* Linear Gradient */
body {
    background: linear-gradient(rgb(66, 134, 244), rgb(66, 134, 244), purple);
}

/* Responsive Img Sizing */
img, embed, object, video {
  height: auto;
  max-width: 100%;
}
h1, h2 {
	display: inline;
}
/* Logo */
h2 {
  position: relative;
  top: 10%;
  left: 10%;
  height: auto;
  width: 5%;
  padding: 0%;
  margin-bottom: 5%;
}

/* Styling for Title */
h1 {
  text-align: center;
  position: relative;
  left: 10%;
  font-size: 5vw;
  width: 100%
  padding: 0%;
  margin-top: 5%;
  margin-bottom: 0%;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
/* Styling for Subtitle */
h3 {
  text-align: center;
  position: relative;
  top: 6%;
  left: 20%;
  width: 100%;
  font-size: 3vw;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  color: black;
}
/* This is the top border. */
.default {
  text-align: center;
  position: relative;
  left: 0%;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 0%;
  margin-top: 0%;
}

/* Styling for Hero Image */
.hero-image {
  position: relative;
  left: 5%;
  height: auto;
  width: 85%;
}
.hero-text {
  text-align: center;
  position: relative;
  margin-top: 5%;
  left: 0%;
  width: 100%;
  font-size: 3vw;
  margin-bottom: 10%;
  padding: 0%;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

/* Style for Section Class */
.section {
  top: 0%;
  left: 0%;
}
/* Feature Work Title */
.push {
  position: relative;
  left: 30%;
  text-align: center;
  margin-top: 5%;
  padding: 0%;
}
/* This is the bottom border. */
.pull {
  position: relative;
  border-bottom: 2px solid black;
  width: 100%;
  left: 0%;
  margin-top: 0%;
  margin-bottom: 10%;
}
/* Featured Projects */
.features {
  margin-left: 0%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features > div {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 3vw;
  font-family: 'Josefin Sans', sans-serif;
}
/* link color */
a {
  color: black;
}
.footer {
  text-align: center;
  position: relative;
  top: 99%;
  left: 0%;
  margin-top: 10%;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}